[project]
name = "chatbot"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "agents-sdk>=0.0.0",
    "chainlit>=2.9.2",
    "dotenv>=0.9.9",
]
